fieldset{
    border-style: solid ;
    border-color: #9BC2FA ;
}

legend{
    background-color: #9BC2FA ;
    color: white ;
}

code:hover{
    background-color: #C8F8DC ;
}
a:link, a:visited, a:hover
{
    color: #000000;  
    text-decoration: none;
}

html{ 
    background-image: url("fond.png"); 
}
