{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 5em auto; max-width: 300px; width: 100%; font: 20px/1.5 sans-serif; position:absolute; margin-left: 40%; }
    .box {background-color: #F4F6FC;}
</style>

<div class="example-wrapper">
        <div class="box">
            
            <figure class="image is-160-85">
                <img src={{ asset("logo.gif") }} alt="Image">
            </figure><br/>
            
            <form action="/connection/visiteur" method="POST">
                Identifiant :<br/>
                <input type="text" name="id" require class="label" value="lvillachane"/>
                Mot de passe :<br/>
                <input type="password" name="mdp" require class="label" value="jux7g"/>
                <br/>
                <input type="submit" value="Valider" class="button is-primary"/>
            </form>	


        </div>
    </div>
{% endblock %}
