{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 5em auto; max-width: 300px; width: 100%; font: 20px/1.5 sans-serif; position:absolute; margin-left: 40%; }
    .box {background-color: #F4F6FC;}
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>

</div>
{% endblock %}
