{% extends 'base.html.twig' %}

{% block title %}Visiteur !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 5em auto; max-width: 500px; width: 100%; font: 20px/1.5 sans-serif; position:absolute; margin-left: 30%; }
    .box {background-color: #F4F6FC;}
</style>

<div class="example-wrapper">
    <div class="box">
    <div class="title is-2">{{ controller_name }}!<div>

    
{######################## Finalisaltion  ########################}        		
    
	<button class="button is-success"><a href="/visiteur">Retour en arriere</a></button>
    </div>

</div>
{% endblock %}
