{% extends 'base.html.twig' %}

{% block title %}Visiteur !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 5em auto; max-width: 400px; width: 100%; font: 20px/1.5 sans-serif; position:absolute; margin-left: 38% ; }
    .box {background-color: #F4F6FC;}
</style>


<div class="example-wrapper">
    <div class="title is-1">{{ controller_name }} {{id}}</div>
    
{######################## Renseigner  ########################}        		
    <div class="box">
	<legend>Renseigner Fiche Frais</legend>
	
		<code><a href="/visiteur/renseigner">pour ce mois ({{mois}})</a></code>
		
	</div></br>

{######################## Consulter ########################}
    <div class="box">
	<legend>Consulter Fiche Frais</legend>
	
		<form action="/visiteur/consulter" method="POST">
			Selectionner le mois à consulter :<br/>
			<input type="month" name="month" required/><br/>
			<br/>
			<input type="submit" value="Valider" class="button is-primary"/>
		</form>	
		
	</div>	
    
{######################## Deconnection ########################}
	
	<div class="button is-danger"><a href="deconnection">Deconnection</a></div>

</div>
{% endblock %}
